.popup__input_type_error { 
    border-bottom: 1px solid red;
}

.popup__input-error_active { 
    opacity: 1;
}

.popup__input-error { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
   /*  margin-bottom: 13px; */
    margin-top: 3px; 
    align-self: flex-start;
    
}

.popup__field { 
    margin-bottom: 16px;
    height: 44px;
}

label { 
    display: flex;
    flex-direction: column;
}

.button_inactive { 
    opacity: 0.2;
}