.popup__container { 
    background-color: white;
    position: relative;
    border-radius: 10px;
    min-width: 430px;
    min-height: 320px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 320px) { 
    .popup__container {
     min-width: calc(100% - 42px);
     max-height: 328px;
    }
}
