.header { 
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 901px) {
    .header {
        max-width: calc(100% - 400px);
        margin: 45px auto 0;
        gap: 41px;
    }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .header {
        max-width: calc(100%);
        margin: 28px auto 0;
        gap: 31.6px;
    }
}