.card-create__close-button {
    background-image: url(../../../images/Close\ Icon.svg);
    border: 0;
    position: absolute;
    cursor: pointer;
    top: -35px;
    transition: opacity 0.5s linear;
    background-color: transparent;
    right: -37px;
    width: 32px;
    height: 32px;
  }
  